.song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9px;
  padding: 5px 15px;
  margin: 7px 0;
  background-color: var(--secondary-color);
  color: var(--black);
}

.dark-mode .song {
  background-color: var(--dark-surface-1);
  color: var(--gray);
}

.song__left,
.song__right {
  display: flex;
  align-items: center;
}

.song__img {
  border-radius: 7px;
  width: 37px;
  height: 37px;
  margin: 0 3px;
}

.song__num {
  margin: 0 10px;
}

.song__name {
  margin: 0 20px;
}

.song__icon {
  margin: 0 10px;
}

.song__right > p {
  margin-left: 20px;
  margin-right: 30px;
}
